html,
body {
    height: 100%;
}


#butterfly {
    height: 200px;
    width: auto;
    position: absolute;
    z-index: 99;
}

#wateringcan {
    width: 200px;
    position: fixed;
    bottom: 20%;
    left: 40%;
}


.waterdrop {
    width: 20px;
    position: absolute;
}

#net {
    height: 600px;
    width: auto;
    position: absolute;
    z-index: 5;

}

.apple {
    height: 50px;
    width: auto;
    position: absolute;
    z-index: 3;
}

#basketfront{
    z-index: 4;
}
#tree {
    position: fixed;
    bottom: 20px;
    left: 50%;

}

.basket {
    width: 200px;
    position: fixed;
    bottom: 20px;
    left: 20%;
    

}


body {
    margin: 0px;
    background-image: url("../images/british-columbia-3785254.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
}
