html,
body {
    height: 100%;
}


#butterfly {
    height: 200px;
    width: auto;
    position: absolute;
}

#wateringcan {
    width: 200px;
    position: fixed;
    bottom: 20%;
    left: 40%;
}


.waterdrop {
    width: 20px;
}

#net {
    height: 600px;
    width: auto;
    position: absolute;

}

.apple {
    height: 50px;
    width: auto;
    position: absolute;
}

#tree {
    position: fixed;
    bottom: 20px;
    left: 50%;

}

.basket {
    width: 200px;
    position: fixed;
    bottom: 20px;
    left: 20%;

}


body {
    margin: 0px;
    background-image: url("../images/\'The\ Starry\ Night\,\ June\ 1889\'\ Giclee\ Print\ -\ Vincent\ van\ Gogh\ _\ Art_com.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
}
